.Header_UI_Nav a {
  padding-right: 14px;
  padding-left: 14px;
  line-height: 48px;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", arial, sans-serif;
}
